@{
    ViewData["Title"] = "About Us";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <div class="row">
        <h4 class="display-4">History</h4>
        <p>
            When I was 11 years old, my mom taught me how to crochet. Throughout the rest of my school career I picked it up every now and then, not paying it much thought, merely using it to kill time.
            Then, the pandemic hit in 2020, and everyone was locked in their homes. I chose to use that time to hone in on my crochet skills. I started to become confident enough to show it off to friends and family and they loved everything I made.
            Eventually, they started asking me when they could buy my finished pieces. It is thanks to them that I stand here today ready to begin selling my pieces to the world in hopes that all of you will love my finished work just as my family did.
        </p>
        <br />
        <h4 class="display-4">Mission</h4>
        <p> 
            My goal for this business is to make a good quality product that anyone could enjoy. I have created a variety of items ranging from blankets to toys to clothing made to be tailored to any style.
            I spend hours perfecting each piece that I create, making sure that there are no loose ends!
        </p>
        <br />
        <h4 class="display-4">Vision</h4>
        <p> 
            Seeing my grandmother's face light up when I gifted her a small stuffed animal made my heart melt. I hope to bring that same joy to everyone across the world. 
            My goal is to have a product that anyone can enjoy for themselves or gift to a loved one for them to enjoy. 
        </p>
    </div>
